<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>Gramify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <style>
        body{
            background-color: #121212;
        }
    </style>
</head>

<body>
    <div class = "header">
        <button class="btn" onclick="location.href = '/about';">About</button>
        <!-- <button class="btn" onclick="location.href = '/privacy';">Privacy policy</button> -->

    </div>

    <div class = "container">
        <div class = "page">
            <center>
                <h1 style="color: white;">Gramify My Music</h1>
                <p style="color: white;">See my Top Spotify Artists and Songs</p>
                <button class="btn" onclick="location.href = '/login';">Log into Spotify</button>
        
            </center>
        </div>
        <footer>
            <p>Note we are not associated with Spotify AB or its partners in any way</p>
        </footer>

    </div>


</body>
</html>